html {
  min-height: 100vh;
  color: var(--dark-beige);
  @include Text-Style-main;
  font-size: 10px;
}

body {
  background: rgb(47, 39, 31);
}

.container {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  object-position: center;
}
