:root {
  // colors

  --brick: hsl(0, 70%, 44%);
  --white: hsl(0, 0%, 100%);
  --dark-beige: hsl(35, 32%, 54%);
  --dark-taupe: hsl(34, 26%, 36%);

  // fonts

  --font-mon: 'Montserrate';
  --font-neue: 'Bebas Neues';
  --font-bung-in: 'Bungee Inlines';
  --font-bung-sh: 'Bungee Shadess';
}
